.login-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.login-title {
  display: block;
  text-align: center;
  font-weight: bold;
}

.login-remind {
  display: block;
  font-size: small;
  text-align: center;
  font-weight: bold;
  color: grey;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background: none;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
}

.login-button {
  font-size: small;
  text-align: center;
  width: 45%;
  margin-top: 20px;
  margin-left: 28%;
  margin-bottom: 20px;
  padding: 6px;
  border: 1px solid;
  border-radius: 3px;
  background: #fca311;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.register-link {
  color: white;
  border: none;
  border-radius: 3px;
  background: #14213d;
  margin-left: 3%;
}

#loginResult {
  color: red;
  margin-left: 5%;
  text-align: center;
  font-weight: bold;
}
