.register-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.register-title {
  display: block;
  text-align: center;
  font-weight: bold;
}

.register-remind {
  display: block;
  font-size: small;
  text-align: center;
  font-weight: bold;
  color: grey;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background: none;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
}

input[type="submit"] {
  font-size: small;
  text-align: center;
  width: 45%;
  margin-top: 20px;
  margin-left: 28%;
  margin-bottom: 20px;
  padding: 6px;
  border: 2px solid white;
  border-radius: 3px;
  background: #14213d;
  color: #fff;
  cursor: pointer;
}

.register-button {
  font-size: small;
  text-align: center;
  width: 45%;
  margin-top: 20px;
  margin-left: 28%;
  margin-bottom: 20px;
  padding: 6px;
  border: 1px solid;
  border-radius: 3px;
  background: #fca311;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.login-link {
  color: white;
  border: none;
  border-radius: 3px;
  background: #14213d;
  margin-left: 3%;
}

.confirmation-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 15%;
  margin-right: 5%;
}

.token-status-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  margin-right: 5%;
}
.error-message {
  color: red;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logbutton {
  font-size: small;
  text-align: center;
  width: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 6px;
  border: 1px solid;
  border-radius: 3px;
  background: #fca311;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
.header {
  display: flex;
  left: 5px;
  flex-direction: column;
}

.message {
  margin-top: 20px;
  font-size: 27px;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.second-message {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.emailToken {
  margin-top: 10%;
}


