.edit-button {
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
    border: 1px solid #fca311;
    border-radius: 3px;
    background: #fca311;
    color: black;
    font-size: large;
    padding: 7px;
    width: 20%;

}

@media screen and (max-width: 1386px) {
    .edit-button {
      margin-top: 10px; 
      margin-left: 0; 
      display: block; 
    }
  }
  
  @media screen and (max-width: 900px) {
    .edit-button {
      margin-top: 10px; 
      margin-left: 0; 
      display: block; 
      width: 50%;
      font-size: 13px;
      text-align: center;
    }
  }
  
.info-box{
    max-width: 700px;
}

.display-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#info{
  /* width: 100%; */
  width: 700px;
  margin-bottom: 20px;
  background: none;
  border: 2px solid #fca311;
  border-radius: 3px;
  color: black;
  padding-left: 1%;
}

#info2{
  width: 100%;
  margin-bottom: 20px;
  background: none;
  /* border: 2px solid #E5e5e5; */
  border: 1px solid grey;
  border-radius: 3px;
  color: black;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  /* padding-left: 20%; */
  text-align: center; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

/* #box{
  width: 100%;
  margin-bottom: 20px;
  background: none;
  border: 2px solid black;
  border-radius: 3px;
  color: black;
  max-width: 700px;
} */

#infoTitle{
    font-weight: bold;
    font-size: 20px;
}