.edit-button {
    margin-left: 20px;
    text-decoration: none;
    border: 1px solid #fca311;
    border-radius: 3px;
    background: #fca311;
    color: black;
    font-size: large;
    padding: 7px;
}

@media screen and (max-width: 1386px) {
    .edit-button {
      margin-top: 10px; 
      margin-left: 0; 
      display: block; 
    }
  }
  
  @media screen and (max-width: 900px) {
    .edit-button {
      margin-top: 10px; 
      margin-left: 0; 
      display: block; 
      width: 50%;
      font-size: 13px;
      text-align: center;
    }
  }
  
.info-box{
    max-width: 700px;
}

.display-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  
}